<table class="table">
	<tr><%= attachment_image_tag(user,:profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
     
     <tbody><tr></tr>
	<tr>
		<th>name</th>
		<th><%= user.name %></th>
	</tr>

	<tr>
		<th>introduction</th>
		<th><%= user.introduction %></th>
	</tr></tbody>
</table>

<div class="row">
	<%= link_to '', edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>